.App {
  text-align: center;
}
h1{
  color:rgb(79, 12, 82) ;
  font-family:cursive;
}
h3{
  color: rgb(47, 47, 128);
  font-size: x-large;
  font-family: cursive;
}
h2{
  color: rgb(110, 94, 126);
  font-family: cursive;
}
.card{
  margin-top: 110px;
  font-variant: small-caps;
  font-style: italic;
}




